{% extends 'PMSapp\base.html' %}

{% load crispy_forms_tags %}

{%  block content %}
    <body>
        <div class="center-div" style="width: 50%;">
            <h3>Update The Task</h3>

            <form method="post" autocomplete="off">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <div class="form-floating mb-3">
                            {{ UpdatTaskForm|crispy }}
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-dark">Update Task</button>
                <a class="btn btn-outline-dark" href="{% url 'dashboard' %}">Return</a>
            </form>
        </div>
    </body>
{% endblock  %}